<!DOCTYPE html>
<html lang="en">
<head>
  <title>Direct Alert Distributor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
.bg {
   background-image: url('/style/images/dadbg.jpg');
   no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-black {
    background-color: #000066;
}

html, body {width: auto!important; overflow-x: hidden!important} 
</style>
</head>
<body class="bg" style="text-align:center; color:white;">
<nav class="navbar navbar-expand navbar-dark bg-black">

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav><br>
<div ><h4><span style="color:red;">
Direct Alert Distributor (D.A.D.)</span> is a Java desktop application that is used by the Service Center at my company to alert retail stores if there are any urgent issues. This site is simply just a demonstration of the app.</h4>
</div>
<br>
<div><b>
The app opens up and displays a Dad joke selected at random from the Dad Joke Database (we had some fun with it)</b><br>
<img src="/style/images/dadjoke.PNG" alt="">
</div>
<br><br>
<div><b>
The message history is displayed and the user can decide if they want to look at a previous<br>
message's responses or create a new DAD alert by clicking the airplane icon.</b><br>
<img src="/style/images/viewmessages.PNG" alt="">
</div>
<br><br>
<div><b>
The user can select what stores they want to send the message to, designate what registers<br>
should receive the message, and then construct and send a message out.</b><br>
<img src="/style/images/sendmessage.PNG" alt="">
</div>
<br><br>
<div><b>Once a message is sent, the message board will display showing all stores that received the message.<br>
The message is defaulted to red, and once a store associate acknowledges the message it turns green.</b><br>
<img src="/style/images/acknowledgeboard.PNG" alt="">
</div>
<br><br>
<div><b>
From the message board, you can click on a specific store to see the details of the message acknowledgement.<br>
<img src="/style/images/acknowledgedetails.PNG" alt="">
</div>
<br><br>
</body>

</html>