<!DOCTYPE html>
<html lang="en">
<head>
  <title>NFL PickEm'</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
  .button-wrapper .btn {
    margin-bottom:25px;
	}
  </style>
</head>
<body>
<form action="/weekpicker" method="post">
<div class="btn-group-vertical button-wrapper" role="group">
  <input type="submit" class="btn btn-success" name="week" id="week1" value="Week 1"/>
  <input type="submit" class="btn btn-success" name="week" id="week2" value="Week 2"/>
  <input type="submit" class="btn btn-success" name="week" id="week3" value="Week 3"/>
  <input type="submit" class="btn btn-success" name="week" id="week4" value="Week 4"/>
  <input type="submit" class="btn btn-success" name="week" id="week5" value="Week 5"/>
  <input type="submit" class="btn btn-success" name="week" id="week6" value="Week 6"/>
  <input type="submit" class="btn btn-success" name="week" id="week7" value="Week 7"/>
  <input type="submit" class="btn btn-success" name="week" id="week8" value="Week 8"/>
  <input type="submit" class="btn btn-success" name="week" id="week9" value="Week 9"/>
  <input type="submit" class="btn btn-success" name="week" id="week10" value="Week 10"/>
  <input type="submit" class="btn btn-success" name="week" id="week11" value="Week 11"/>
  <input type="submit" class="btn btn-success" name="week" id="week12" value="Week 12"/>
  <input type="submit" class="btn btn-success" name="week" id="week13" value="Week 13"/>
  <input type="submit" class="btn btn-success" name="week" id="week14" value="Week 14"/>
  <input type="submit" class="btn btn-success" name="week" id="week15" value="Week 15"/>
  <input type="submit" class="btn btn-success" name="week" id="week16" value="Week 16"/>
  <input type="submit" class="btn btn-success" name="week" id="week17" value="Week 17"/>
</div>
</form>
</body>
</html>