<!DOCTYPE html>
<html lang="en">
<head>
  <title>NFL PickEm'</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <style>
 .navbar-nav > li > .dropdown-menu { background-color: black; }
 .field {
   background-image: url('/img/field.jpg');
   no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-repeat: no-repeat;
    background-size: auto;
}

.bg-black {
    background-color: black;
}

html, body {width: auto!important; overflow-x: hidden!important} 

.alternate {
	background-color:	#550909;
}


 </style>
</head>
<body class="field">
<nav class="navbar navbar-expand navbar-dark bg-black">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="/img/football_large.png" height="25" width="25"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/week">Home</a>
    </li>

	<li class="nav-item">
      <div class="nav-link" href="#" id="myBtn">Help</div>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        View Tickets
      </a>
        <div class="dropdown-menu" id="ticketlistdropdown">
      <% for (var i = 1; i <= 17; i++){ %>
			<a class="dropdown-item" href="/checktickets<%=i%>" style="color:white;">Week <%=i%></a>
	  <% } %>
      </div>
    </li>
  </ul>
</nav><br>
<div id="titlediv" style="text-align:center; font-weight:bold; color:white; font-size:20px;">
Something went wrong, please refresh page or return to the previous page <br><br>
</div>
<div style="text-align:center;">
<a name="selection" id="viewtixbtn" value="View Existing Tickets"><span class="btn btn-info">View Existing Tickets</span></a>
&nbsp;&nbsp;&nbsp;<a name="selection" id="newentrybtn" value="New Entry"><span class="btn btn-danger">Create New Tickets</span></a>
</div>	
</body>
<script>

$('#ticketlistdropdown a:nth-child(odd)').addClass('alternate');

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

var week = getParameterByName('week');
if (week != null){
	document.getElementById("titlediv").innerHTML = "Please make a selection for NFL Week " + week + "<br><br>";
}

document.getElementById("viewtixbtn").href = "/selection/tickets?week="+week+"";
document.getElementById("newentrybtn").href = "/selection/week"+week+"";
</script>

</html>